/* src/index.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal molesto */
}

#root {
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}